/* blog-post */

.blog-post_fiter{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1249px;
	margin: 0 auto;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 94px;
	padding-bottom: 52px
}
.blog-post_button_filter{
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 60px;
}
.blog-post_link{
	position: relative;
	color: rgb(255,255,255);
    left: 45px;
	margin-right: 55px;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	opacity: 0.7;
}
/* button-more */
.dropdown-menu{
    background-color: rgba(0,0,0,0.5);
}
.blog-more-link{
	position: relative;
	color: rgb(255,255,255);
	padding: 10%;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	opacity: 0.7;
}
.post-blog_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 103px;
    padding-bottom: 94px;
}

/* blog-post-content */

.main_blog-post-content{
    max-width: 1249px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.post-blog_content{
    margin-left: -15px;
    margin-right: -15px;
}
.post-preview{
    padding: 0;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.box-black{
background-color: rgba(0,0,0,0.5);
}
.post-wrapper{
    position: relative;
}

.img-post{
    display: inline-block;
    max-width: 100%;
    height: 267px;
    border-radius: 0;
    padding: 0;
    border: 1px solid #3a3a3a;
}
.box-shadow{
    box-shadow: 0 0 10px #000;
}
.text-medium {
    font-size: 150%;
}
.post-excerpt{
        min-height: 122px;
}
.text-muted {
    color: #777777;
}
.btn-check:focus+.btn, .btn:focus {
box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 0%);
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
.col-sm-9{
    width: 75%;
}
.col-sm-3{
    width: 25%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
}

@media (min-width: 1200px) {
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12{
    width: 100%;
}
}
