{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="well tab-content">
        <div class="tab-pane active" id="post-object-form">
            <form action="{% url 'gp_users:blogpost_create' %}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate="">
                <fieldset>
                    {% csrf_token %}

                    <div class="form-actions">
                        <button class="btn btn-primary js-tooltip" title="">POST</button>
                    </div>
                </fieldset>
            </form>
        </div>
</div>
</body>
</html>