{% extends 'base.html' %}
{% block content %}

<form action="{% url 'blogpost_create' %}" enctype='multipart/form-data' method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}"></label>
        {{ form.name }}
    </div>
    <div class="fieldWrapper">
        {{ form.slug.errors }}
        <label for="{{ form.slug.id_for_label }}">Slug:</label>
        {{ form.slug }}
    </div>
    <div class="fieldWrapper">
        {{ form.description.errors }}
        <label for="{{ form.description.id_for_label }}">Description:</label>
        {{ form.description }}
    </div>
    <div class="fieldWrapper">
        {{ form.image.errors }}
        <label for="{{ form.image.id_for_label }}">image</label>
        {{ form.image }}
    </div>
        <div class="fieldWrapper">
        {{ form.category.errors }}
        <label for="{{ form.category.id_for_label }}">category</label>
        {{ form.category }}
    </div>
    <button type="submit">POST</button>
</form>

{% endblock %}