{% extends 'blog/blogpost_edited/blog_create_menu.html' %}

{% block content %}
    <input type="checkbox" id="side_menu-toggle" hidden>
        <nav class="side_menu">
            <label for="side_menu-toggle" class="side_menu-toggle" onclick></label>
            <h2 class="logo">
                <a href="">GameProduct</a>
            </h2>
            <ul>
                <div class="main_crt_bt_menu crt-dt-menu crt_bt_cl">
                    <a href="#win1">
                        <div class="ps-bt-menu"></div>
                        <span class="crt-span-bt">
                            <span class="crt-item-bt">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square crt-bt-icon" viewBox="0 0 16 16">
                                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                                <span class="crt-bt-text">new blog</span>
                            </span>
                        </span>
                    </a>
                </div>
                <li><a href="#1">Messages</a>
                <li><a href="#2">Statistics</a>
                <li><a href="#3">NONE</a>
                <li><a href="#4">NONE</a>
                <li><a href="{% url 'expandpost_create' %}">Write messages</a>
                <li><a href="#6">Settings</a>
                <li><a href="{% url 'home' %}">Back to blog post</a>
            </ul>
        </nav>
        <!-- Crt window -->
        <form action="{% url 'blog_menu' %}" enctype='multipart/form-data' method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="bp-overlay" id="win1">
                <div class="bp-table">
                    <div class="bp-cell">
                        <div class="bp-modal">
                            <h3>Choose a blog name</h3>
                            <div class="bp-inp-form">
                                {{ form.name.errors }}
                                <div class="bp-inp">{{ form.name }}</div>
                            </div>
                            <div class="bp-button">
                                <div class="bp-bt-rh">
                                    <div class="bp-bt-item"><a href="#close" class="">Cancel</a></div>
                                    <div class="bp-bt-next"><a href="#win2">Next</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bp-overlay" id="win2">
                <div class="bp-table">
                    <div class="bp-cell">
                        <div class="bp-modal">
                            <h3>Write a short description</h3>
                            <div class="bp-inp-form">
                                {{ form.description.errors }}
                                <div class="bp-inp">{{ form.description }}</div>
                            </div>
                            <div class="bp-button">
                                <div class="bp-bt-rh">
                                    <div class="bp-bt-back"><a href="#win1">Back</a></div>
                                    <div class="bp-bt-item"><a href="#close" class="">Cancel</a></div>
                                    <div class="bp-bt-next"><a href="#win3">Next</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bp-overlay" id="win3">
                <div class="bp-table">
                    <div class="bp-cell">
                        <div class="bp-modal">
                            <h3>Choose a URL for your blog</h3>
                            <div class="bp-inp-form">
                                {{ form.slug.errors }}
                                <div class="bp-inp">{{ form.slug }}</div>
                            </div>
                            <div class="bp-button">
                                <div class="bp-bt-rh">
                                    <div class="bp-bt-back"><a href="#win2">Back</a></div>
                                    <div class="bp-bt-item"><a href="#close" class="">Cancel</a></div>
                                    <div class="bp-bt-next"><a href="#win4">Next</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bp-overlay" id="win4">
                <div class="bp-table">
                    <div class="bp-cell">
                        <div class="bp-modal">
                            <h3>Choose a blog image</h3>
                            <div class="bp-inp-form">
                                {{ form.image.errors }}
                                <div class="bp-inp">{{ form.image }}</div>
                            </div>
                            <div class="bp-button">
                                <div class="bp-bt-rh">
                                    <div class="bp-bt-back"><a href="#win3">Back</a></div>
                                    <div class="bp-bt-item"><a href="#close" class="">Cancel</a></div>
                                    <div class="bp-bt-next"><a href="#win5">Next</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bp-overlay" id="win5">
                <div class="bp-table">
                    <div class="bp-cell">
                        <div class="bp-modal">
                            <h3>Choose a blog category</h3>
                            <div class="bp-inp-form-5">
                                {{ form.category.errors }}
                                <div class="bp-inp">{{ form.category }}</div>
                            </div>
                            <div class="bp-button">
                                <div class="bp-bt-rh">
                                    <div class="bp-bt-back-5"><a href="#win4">Back</a></div>
                                    <div class="bp-bt-item-5"><a href="#close" class="">Cancel</a></div>
                                    <div class="bp-bt-post"><button type="submit">POST</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Crt window close -->
        <div class="my_bp-list-header-menu">
            {% for postblog in pb_list %}
                {% if forloop.first %}
                    <div class="my_blog-post-list">
                        <div class="my-blog-post-items">
                            <div class="my-blog-post-item my-bp-border">
                                <a href="{{ postblog.get_absolute_url }}">
                                    <div class="my-blog-post">
                                        <div class="my-bp-img">
                                            <img class="box-shadow" src="{{ postblog.image.url }}" >
                                        </div>
                                        <div class="my-bp-box ">
                                            <div class="box-black">
                                                <div class="bp-box-category">
                                                        <span class="">{{ postblog.category }}</span>
                                                </div>
                                                <div class="bp-box-title-user">
                                                    <div class="bp-box-title-item">
                                                        <div class="bp-box-title">
                                                            <span>{{ postblog.name }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="bp-box-user-item">
                                                        <div class="bp-box-user">
                                                            <span>{{ postblog.user }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <time datetime="">{{ postblog.create_at|date:"M d, Y" }}</time>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {% for postblog in pb_list %}
                {% if forloop.first <= 10 and forloop.counter > 1 %}
                     <div class="my_blog-post-list">
                        <div class="my-blog-post-items">
                            <div class="my-blog-post-item my-bp-border">
                                <a href="{{ postblog.get_absolute_url }}">
                                    <div class="my-blog-post">
                                        <div class="my-bp-img">
                                            <img class="box-shadow" src="{{ postblog.image.url }}" >
                                        </div>
                                        <div class="my-bp-box ">
                                            <div class="box-black">
                                                <div class="bp-box-category">
                                                        <span class="">{{ postblog.category }}</span>
                                                </div>
                                                <div class="bp-box-title-user">
                                                    <div class="bp-box-title-item">
                                                        <div class="bp-box-title">
                                                            <span>{{ postblog.name }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="bp-box-user-item">
                                                        <div class="bp-box-user">
                                                            <span>{{ postblog.user }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <time datetime="">{{ postblog.create_at|date:"M d, Y" }}</time>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

{% endblock %}