{% load static %}
{% load i18n %}
{% load gpauth_tamplatetags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/fbase-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog/qblog_post-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog/blog-post-edited_style/hblog-post-edited.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog/bp-forms-style/fbp-crt-wd.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog/bp-forms-style/fleft-nav-style.css' %}">
    {% block link %}{% endblock %}
    <!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap&subset=cyrillic" rel="stylesheet">
</head>
<body id="go-top">
        <header class="header-gp compact header-gp-fixed">
            <div class="gp-header-logo-wrapper">
                <a>
                    <img src="/media/logo/gp-logo-4.png">
                </a>
            </div>
            <div class="bp-menu-search">
              <form class="" >
              <input type="text" placeholder="Искать здесь...">
                  <button type="submit"></button>
              </form>
            </div>
            <aside class="gp-header-aside">
                <ul class="gp-header-aside-items">
                    <li class="gp-header-aside-item">
                        <div class="gp-header-wrapper">
                            {% block userlinks %}
                                {% if user.is_authenticated %}
                                    {% optional_logout request user %}
                                {% else %}
                                    {% optional_login request %}
                                {% endif %}
                            {% endblock %}
                        </div>
                    </li>
                </ul>
            </aside>
        </header>
    <main class="main" style="margin-top: 70px;">
        <input type="checkbox" id="side_menu-toggle" hidden>
        <nav class="side_menu">
            <label for="side_menu-toggle" class="side_menu-toggle" onclick></label>
            <h2 class="logo">
                <a href="">GameProduct</a>
            </h2>
            <ul>
                <div class="main_crt_bt_menu crt-dt-menu crt_bt_cl">
                    <a href="#win1">
                        <div class="ps-bt-menu"></div>
                        <span class="crt-span-bt">
                            <span class="crt-item-bt">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square crt-bt-icon" viewBox="0 0 16 16">
                                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                                <span class="crt-bt-text">new blog</span>
                            </span>
                        </span>
                    </a>
                </div>
                <li><a href="#1">Messages</a>
                <li><a href="#2">Statistics</a>
                <li><a href="#3">NONE</a>
                <li><a href="#4">NONE</a>
                <li><a href="#5">NONE</a>
                <li><a href="#6">NONE</a>
                <li><a href="#7">Settings</a>
            </ul>
        </nav>
        <!-- Crt window -->
        <form action="url 'blog_menu'" enctype='multipart/form-data' method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="bp-overlay" id="win1">
                <div class="bp-table">
                    <div class="bp-cell">
                        <div class="bp-modal">
                            <h3>Choose a blog name</h3>
                            <div class="bp-inp-form">
                                {{ form.name.errors }}
                                <div class="bp-inp">{{ form.name }}</div>
                            </div>
                            <div class="bp-button">
                                <div class="bp-bt-rh">
                                    <div class="bp-bt-item"><a href="#close" class="">Cancel</a></div>
                                    <div class="bp-bt-next"><a href="#win2">Next</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bp-overlay" id="win2">
                <div class="bp-table">
                    <div class="bp-cell">
                        <div class="bp-modal">
                            <h3>Write a short description</h3>
                            <div class="bp-inp-form">
                                {{ form.description.errors }}
                                <div class="bp-inp">{{ form.description }}</div>
                            </div>
                            <div class="bp-button">
                                <div class="bp-bt-rh">
                                    <div class="bp-bt-back"><a href="#win1">Back</a></div>
                                    <div class="bp-bt-item"><a href="#close" class="">Cancel</a></div>
                                    <div class="bp-bt-next"><a href="#win3">Next</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bp-overlay" id="win3">
                <div class="bp-table">
                    <div class="bp-cell">
                        <div class="bp-modal">
                            <h3>Choose a URL for your blog</h3>
                            <div class="bp-inp-form">
                                {{ form.slug.errors }}
                                <div class="bp-inp">{{ form.slug }}</div>
                            </div>
                            <div class="bp-button">
                                <div class="bp-bt-rh">
                                    <div class="bp-bt-back"><a href="#win2">Back</a></div>
                                    <div class="bp-bt-item"><a href="#close" class="">Cancel</a></div>
                                    <div class="bp-bt-next"><a href="#win4">Next</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bp-overlay" id="win4">
                <div class="bp-table">
                    <div class="bp-cell">
                        <div class="bp-modal">
                            <h3>Choose a blog image</h3>
                            <div class="bp-inp-form">
                                {{ form.image.errors }}
                                <div class="bp-inp">{{ form.image }}</div>
                            </div>
                            <div class="bp-button">
                                <div class="bp-bt-rh">
                                    <div class="bp-bt-back"><a href="#win3">Back</a></div>
                                    <div class="bp-bt-item"><a href="#close" class="">Cancel</a></div>
                                    <div class="bp-bt-next"><a href="#win5">Next</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bp-overlay" id="win5">
                <div class="bp-table">
                    <div class="bp-cell">
                        <div class="bp-modal">
                            <h3>Choose a blog category</h3>
                            <div class="bp-inp-form-5">
                                {{ form.category.errors }}
                                <div class="bp-inp">{{ form.category }}</div>
                            </div>
                            <div class="bp-button">
                                <div class="bp-bt-rh">
                                    <div class="bp-bt-back-5"><a href="#win4">Back</a></div>
                                    <div class="bp-bt-item-5"><a href="#close" class="">Cancel</a></div>
                                    <div class="bp-bt-post"><button type="submit">POST</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Crt window close -->
    <div class="header-menu">
        Family agreement reasonably rent girl little burst visited begin arrived.
        Conveying terms painful misery summer cousins colonel mile ham tore discretion cousins elsewhere points play itself. Living after men cease pretty any branched soon though sitting dinner moment. Leaf sold relation timed above. Eat delivered walk plan northward offered promise chiefly green read edward departure by. Water existence chief though head settle.

        Shortly from covered denote shewing mutual end admiration partiality mistress oh merely. Arrived inhabiting wished whose matter upon acceptance beloved change seemed wound through above shameless age moments stimulated. Case offence ready mind. Weddings themselves none made outward least both help  design full years held behind surrounded. Nature being sooner cousin unaffected sending particular object.

        Sure nature child engrossed building improve started repulsive performed through. Easily books dining who themselves removed neglected by invitation oh arrived. Concerns hopes uncommonly likely last enquire abilities rich property conveying we direction necessary behind felt held. Body change declared musical suffer carried avoid tiled cold valley away. Strongly weddings add grave green received pretended.

        Day farther dissuade shyness exposed. Inquiry half resolving rest china provision am lasting breeding. Bringing end tried enough terminated lose wicket weeks found pain dispatched subject hour effect. Another wondered placing as nature chiefly rapid long linen. Lasting bachelor did literature itself peculiar desirous wish drawings purse melancholy their dear.

        Formal warrant mirth pronounce horses husbands afford him this agreement continuing debating thing supplied him cousins resolve. Explain did friends boy carriage play agreement remaining farther. Greater wished cousins tended believe observe. Mention motionless pronounce abode waited country entreaties procured away. Favour fine arose continuing gate insipidity little garrets attempted suppose late required newspaper summer declared defer.

        Affronting jokes sitting game hardly talking half cause sincerity suitable. Plan bred shall called graceful effect disposing limited. Engaged seemed little distance impossible these besides past lady amiable saved impossible forbade noisier wandered simplicity remainder. Vanity outlived built hold account whatever moment hour valley four certain occasion. Favourable moderate welcomed provided started defective studied towards bred name.

        Strictly valley not wise improve. Cousins smile supported addition which. Defective about ye trifling water commanded nature simple correct. Table get pleasant four open real right pleasure ham year. Attempted equal distrusts power belonging me agreeable husband full sister aware moments were.

        Feel rank enjoy earnestly uncommonly or no right may giving answer extended other hope defective landlord. Ecstatic northward elegance discourse. Sitting likewise friend assure have jokes produced weddings expense husbands think delivered betrayed can. Near woody debating moonlight properly fond newspaper compact none. None regard position.

        Wishing shot dining sure past theirs unknown true relied. Its thirty related thoroughly have sure open musical concern joy truth believing message projecting. Excellent allowance think. Income dare branched marry remaining secure would thirty being demands keeps polite them allow worthy. In sweetness explain suffer attention husbands saw prudent busy season.

        Like have felicity affronting their sensible was inhabiting amiable laughing letters suspicion body share. Spring sensible hundred happen bringing. Sent hunted head greater tolerably horses gentleman game furnished attacks agreeable summer lived pure. Cease week garden offer conduct required wise entrance declared like shy. Result upon extent.

        Believing sussex use alteration offered among strongly objection resolve any. Laughter necessary man seven maids advanced hand. Scarcely pain see smile merry engrossed pasture among moonlight minuter females affection ferrars paid. Perfectly tore made with. Merit overcame unpleasant beyond prepared leave followed advanced wrong drew sussex sex rose understood stronger.

        Family agreement reasonably rent girl little burst visited begin arrived.

        Conveying terms painful misery summer cousins colonel mile ham tore discretion cousins elsewhere points play itself. Living after men cease pretty any branched soon though sitting dinner moment. Leaf sold relation timed above. Eat delivered walk plan northward offered promise chiefly green read edward departure by. Water existence chief though head settle.

        Shortly from covered denote shewing mutual end admiration partiality mistress oh merely. Arrived inhabiting wished whose matter upon acceptance beloved change seemed wound through above shameless age moments stimulated. Case offence ready mind. Weddings themselves none made outward least both help  design full years held behind surrounded. Nature being sooner cousin unaffected sending particular object.

        Sure nature child engrossed building improve started repulsive performed through. Easily books dining who themselves removed neglected by invitation oh arrived. Concerns hopes uncommonly likely last enquire abilities rich property conveying we direction necessary behind felt held. Body change declared musical suffer carried avoid tiled cold valley away. Strongly weddings add grave green received pretended.

        Day farther dissuade shyness exposed. Inquiry half resolving rest china provision am lasting breeding. Bringing end tried enough terminated lose wicket weeks found pain dispatched subject hour effect. Another wondered placing as nature chiefly rapid long linen. Lasting bachelor did literature itself peculiar desirous wish drawings purse melancholy their dear.

        Formal warrant mirth pronounce horses husbands afford him this agreement continuing debating thing supplied him cousins resolve. Explain did friends boy carriage play agreement remaining farther. Greater wished cousins tended believe observe. Mention motionless pronounce abode waited country entreaties procured away. Favour fine arose continuing gate insipidity little garrets attempted suppose late required newspaper summer declared defer.

        Affronting jokes sitting game hardly talking half cause sincerity suitable. Plan bred shall called graceful effect disposing limited. Engaged seemed little distance impossible these besides past lady amiable saved impossible forbade noisier wandered simplicity remainder. Vanity outlived built hold account whatever moment hour valley four certain occasion. Favourable moderate welcomed provided started defective studied towards bred name.

        Strictly valley not wise improve. Cousins smile supported addition which. Defective about ye trifling water commanded nature simple correct. Table get pleasant four open real right pleasure ham year. Attempted equal distrusts power belonging me agreeable husband full sister aware moments were.

        Feel rank enjoy earnestly uncommonly or no right may giving answer extended other hope defective landlord. Ecstatic northward elegance discourse. Sitting likewise friend assure have jokes produced weddings expense husbands think delivered betrayed can. Near woody debating moonlight properly fond newspaper compact none. None regard position.

        Wishing shot dining sure past theirs unknown true relied. Its thirty related thoroughly have sure open musical concern joy truth believing message projecting. Excellent allowance think. Income dare branched marry remaining secure would thirty being demands keeps polite them allow worthy. In sweetness explain suffer attention husbands saw prudent busy season.

        Like have felicity affronting their sensible was inhabiting amiable laughing letters suspicion body share. Spring sensible hundred happen bringing. Sent hunted head greater tolerably horses gentleman game furnished attacks agreeable summer lived pure. Cease week garden offer conduct required wise entrance declared like shy. Result upon extent.

        Believing sussex use alteration offered among strongly objection resolve any. Laughter necessary man seven maids advanced hand. Scarcely pain see smile merry engrossed pasture among moonlight minuter females affection ferrars paid. Perfectly tore made with. Merit overcame unpleasant beyond prepared leave followed advanced wrong drew sussex sex rose understood stronger.

        Family agreement reasonably rent girl little burst visited begin arrived.

        Conveying terms painful misery summer cousins colonel mile ham tore discretion cousins elsewhere points play itself. Living after men cease pretty any branched soon though sitting dinner moment. Leaf sold relation timed above. Eat delivered walk plan northward offered promise chiefly green read edward departure by. Water existence chief though head settle.

        Shortly from covered denote shewing mutual end admiration partiality mistress oh merely. Arrived inhabiting wished whose matter upon acceptance beloved change seemed wound through above shameless age moments stimulated. Case offence ready mind. Weddings themselves none made outward least both help  design full years held behind surrounded. Nature being sooner cousin unaffected sending particular object.

        Sure nature child engrossed building improve started repulsive performed through. Easily books dining who themselves removed neglected by invitation oh arrived. Concerns hopes uncommonly likely last enquire abilities rich property conveying we direction necessary behind felt held. Body change declared musical suffer carried avoid tiled cold valley away. Strongly weddings add grave green received pretended.

        Day farther dissuade shyness exposed. Inquiry half resolving rest china provision am lasting breeding. Bringing end tried enough terminated lose wicket weeks found pain dispatched subject hour effect. Another wondered placing as nature chiefly rapid long linen. Lasting bachelor did literature itself peculiar desirous wish drawings purse melancholy their dear.

        Formal warrant mirth pronounce horses husbands afford him this agreement continuing debating thing supplied him cousins resolve. Explain did friends boy carriage play agreement remaining farther. Greater wished cousins tended believe observe. Mention motionless pronounce abode waited country entreaties procured away. Favour fine arose continuing gate insipidity little garrets attempted suppose late required newspaper summer declared defer.

        Affronting jokes sitting game hardly talking half cause sincerity suitable. Plan bred shall called graceful effect disposing limited. Engaged seemed little distance impossible these besides past lady amiable saved impossible forbade noisier wandered simplicity remainder. Vanity outlived built hold account whatever moment hour valley four certain occasion. Favourable moderate welcomed provided started defective studied towards bred name.

        Strictly valley not wise improve. Cousins smile supported addition which. Defective about ye trifling water commanded nature simple correct. Table get pleasant four open real right pleasure ham year. Attempted equal distrusts power belonging me agreeable husband full sister aware moments were.

        Feel rank enjoy earnestly uncommonly or no right may giving answer extended other hope defective landlord. Ecstatic northward elegance discourse. Sitting likewise friend assure have jokes produced weddings expense husbands think delivered betrayed can. Near woody debating moonlight properly fond newspaper compact none. None regard position.

        Wishing shot dining sure past theirs unknown true relied. Its thirty related thoroughly have sure open musical concern joy truth believing message projecting. Excellent allowance think. Income dare branched marry remaining secure would thirty being demands keeps polite them allow worthy. In sweetness explain suffer attention husbands saw prudent busy season.

        Like have felicity affronting their sensible was inhabiting amiable laughing letters suspicion body share. Spring sensible hundred happen bringing. Sent hunted head greater tolerably horses gentleman game furnished attacks agreeable summer lived pure. Cease week garden offer conduct required wise entrance declared like shy. Result upon extent.

        Believing sussex use alteration offered among strongly objection resolve any. Laughter necessary man seven maids advanced hand. Scarcely pain see smile merry engrossed pasture among moonlight minuter females affection ferrars paid. Perfectly tore made with. Merit overcame unpleasant beyond prepared leave followed advanced wrong drew sussex sex rose understood stronger.
    </div>

    </main>

    <!-- Footer start -->
    <footer class="footer-main">
        <button type="button" data-href="#go-top" class="go-top anchor btn btn-primary box-shadow show">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>
    </button>
        <div class="widgets-wrapper">
                    <div class="share-footer">
                <div class="misc-wrapper clearfix">

                    <div class="col-sm-4 text-center">
                        <a href="" target="_blank" rel="noreferrer noopener" class="inline-block btn-facebook">
                            <div class="btn btn-default box-cell">
                                <i class="fa fa-facebook fa-2x fa-fw" style="margin-top: 10px;"></i>
                            </div>
                            <div class="btn btn-blank box-cell">
                                <div class="text-left">
                                    <span class="text-light">GAMEPRODUCT ON</span> <br><span>FACEBOOK</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 text-center">
                        <a href="" rel="noreferrer noopener" target="_blank" class="inline-block btn-twitter">
                            <div class="btn btn-default box-cell">
                                <i class="fa fa-twitter fa-2x fa-fw" style="margin-top: 10px;"></i>
                            </div>
                            <div class="btn btn-blank box-cell">
                                <div class="text-left">
                                    <span class="text-light">GAMEPRODUCT ON</span> <br><span>TWITTER</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4 text-center">
                        <a href="" rel="noreferrer noopener" target="_blank" class="inline-block btn-youtube">
                            <div class="btn btn-default box-cell">
                                <i class="fa fa-youtube fa-2x fa-fw" style="margin-top: 10px;"></i>
                            </div>
                            <div class="btn btn-blank box-cell">
                                <div class="text-left">
                                    <span class="text-light">GAMEPRODUCT ON</span> <br><span>YOUTUBE</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="footer-bg gradient"></div>
                </div>
            </div>
            <div class="footer-bg gradient"></div>
        </div>
        <div class="divider"></div>
        <div class="text-center">
            <p class="text-center text-shadow text-small">
                © 2022 GAMEPRODUCT a.s. GAME® and GAMEPRODUCT® are registered trademarks of GAMEPRODUCT a.s. All rights reserved.
            </p>
            <ul class="list-unstyled list-inline text-center">
                <li>
                    <a href="">Cookie Policy</a>
                </li>
                <li>
                    <a href="">Terms &amp; Conditions</a>
                </li>
                <li>
                    <a href="">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src="{% static 'bootstrap-5.2.3-dist/js/bootstrap.bundle.js' %}"></script>
<script src="https://use.fontawesome.com/5534f4b07f.js"></script>
<script src="{% static 'js/hbase.js' %}"></script>
</html>

