{% extends 'base.html' %}
{% block content %}
{% load editorjs %}

    <!-- Display Form -->
<form method="post">
    {% csrf_token %}
    <div class="fieldWrapper">
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}">Title:</label>
        {{ form.name }}
    </div>
    <div class="fieldWrapper">
        {{ form.postblog.errors }}
        <label for="{{ form.postblog.id_for_label }}">Slug:</label>
        {{ form.postblog }}
    </div>
    <div class="fieldWrapper">
        {{ form.body_editorjs.errors }}
        <label for="{{ form.body_editorjs.id_for_label }}">Description:</label>
        {{ form.body_editorjs }}
    </div>
    <button type="submit">POST</button>
</form>


{{ form.media }}

{% endblock %}