@font-face {
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
}
* {
    box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex-grow: 1;
}
.main_intro_bg-color{
	background-color: #e0e0e0;
}

/* header */

.header{
	box-sizing: border-box;
	display: flex;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	max-width: 1249px;
	margin: 0 auto;
	min-height: 89px;
	background-color: #000000;
	border-radius: 10px;
}
.wrapper{
	padding-top: 29px;
	background-color: #e0e0e0;
}

.header_list{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: -20px;

}
.header_item{
	display: flex;
	align-items: stretch;
	justify-content: center;
	min-height: 89px;
	border-radius: 10px;
	transition: background 0.5s;
}
.header_item:hover{
	background-color: rgba(255,255,255,0.5);
}
.header_link{
	display: flex;
	align-items: center;
	padding: 0 60px;
	color: #e0e0e0;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

/* footer */
.share-footer{
    padding: 10px 0;
}
.misc-wrapper{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1249px;
    margin-bottom: 15px;
    font-size: 90%;
}
@media (min-width: 768px)
.col-sm-4 {
    width: 33.3333333333%;
    float: left;
}

.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0px;
    position: relative;
    white-space: normal;
    transition: color 0.5s, opacity 0.5s, border-color 0.5s, background-color 0.5s;
}
.btn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.box-cell {
    display: table-cell !important;
}