@font-face {
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
}
* {
    text-decoration: none;
    box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #e0e0e0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-attachment: fixed;
	background-image: url(/media/background-image/background_imag-icon-3.jpg);
	background-repeat: no-repeat;
	text-decoration: none;
	overflow-x: hidden;
}
a{
    text-decoration: none;
    outline: 0;
    color: #fff;
    transition: all 0.5s;
}
a:hover{
    color: #00F4FF;
}
.main {
	flex-grow: 1;
}
.main_intro_bg-color{
	background-color: #e0e0e0;
}
img {
    vertical-align: middle;
}
/* header-gp */
.header-gp{
    width: 100%;
    min-width: 320px;
    background-color: rgba(100, 100, 100, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 14px;
    height: auto;
    box-sizing: border-box;
    transition: padding .5s,line-height .5s;
    vertical-align: initial;
    position: relative;
    z-index: 3000;
}
.header-gp ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.gp-header-logo-wrapper{
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
}
.gp-header-nav-center{
	box-sizing: border-box;
	display: flex;
	align-items: stretch;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
	min-height: 50px;
}
.gp-header-nav-items{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}
.gp-header-nav-item{
	display: flex;
	align-items: stretch;
	justify-content: center;
	min-height: 50px;
	transition: background 0.5s;
}
.gp-header-nav-item-button{
	display: flex;
	align-items: center;
	padding: 0 15px;
	color: #e0e0e0;
	font-size: 14px;
	text-decoration: none;
}
.gp-header-nav-item-button:hover{
background-color: rgba(0,0,0,0.5);
}
.gp-header-aside{
    width: 150px;
}
.gp-header-aside-items{
    list-style: none;
    margin: 0;
    padding: 0;
}
.gp-header-login-button{
    color: #FF7600;
    border: 1px solid #FF7600;
    line-height: 2;
    padding: 0 25px;
    font-weight: 700;
    font-size: 1em;
    transition: background .5s;
    text-transform: uppercase;
}
.gp-header-login-button:hover{
    color: #FF7600;
    background: black;
}
.gp-user-name{
    color: #FF7600;
    transition: color .5s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 2;
    padding: 0 25px;
    font-size: 1em;

}
.gp-user-name:hover{
    color: #FF7600;
}
.gp-header-icon{
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid hsla(0,0%,100%,.14);
    vertical-align: middle;
}
.gp-header-dropdown-menu{
    border-top: 2px solid #FF7600;

}
.gp-header-nav-item-button-at{
    position: relative;
    color: rgb(255,255,255);
    text-decoration: none;
    opacity: 0.7;
    padding: 10%;
}
/* header-menu */

.header-menu{
	box-sizing: border-box;
	display: flex;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	max-width: 1249px;
	margin: 0 auto;
	min-height: 89px;
	background-color: rgba(0, 0, 0, 0.6);
}
.menu-header{
	padding-top: 29px;
}

.header-menu_list{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: -20px;

}
.header-menu_item{
	display: flex;
	align-items: stretch;
	justify-content: center;
	min-height: 89px;
	transition: background 0.5s;
}
.header-menu_item:hover{
	background-color: rgba(255,255,255,0.3);
}
.header-menu_link{
	display: flex;
	align-items: center;
	padding: 0 60px;
	color: #e0e0e0;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

/* footer */
.widgets-wrapper{
    adding: 0 0 20px;
}
.share-footer{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1249px;
    margin-bottom: 15px;
    font-size: 90%;
}
.share-footer .misc-wrapper {
  padding: 10px 0;
  margin-bottom: 0;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.text-center {
    text-align: center;
}
@media (min-width: 768px) {
.col-sm-4{
    float: left;
}
.col-sm-4 {
    width: 33.3333333333%;
}
}
.inline-block {
    display: inline-block;
}
.btn{
    padding: 1px 5px;
    position: relative;
    white-space: normal;
    transition: color 0.5s, opacity 0.5s, border-color 0.5s, background-color 0.5s;
    border-radius: 0;
}
.box-cell {
    display: table-cell !important;
}
.btn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-facebook .fa {
    transition: color 0.5s;
}
.fa-fw {
    width: 1.28571429em;
    text-align: center;
}
.fa-2x {
    font-size: 2.5em;
}
.text-left {
    text-align: left;
    font-size: 20px
}
.text-light {
    font-weight: 300;
}
#main-footer .misc-wrapper,
#main-footer .widgets-wrapper,
.share-footer .misc-wrapper,
.share-footer .widgets-wrapper {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  margin-bottom: 15px;
  font-size: 90%;
}

#main-footer .widgets-wrapper,
.share-footer .widgets-wrapper {
  padding: 0 0 20px;
}

#main-footer .widgets-wrapper a,
.share-footer .widgets-wrapper a {
  color: #d3d3d3;
}

#main-footer .widgets-wrapper a:hover,
.share-footer .widgets-wrapper a:hover {
  color: #c48214;
}

#main-footer .widgets-wrapper li,
.share-footer .widgets-wrapper li {
  margin-bottom: 10px;
}
.share-footer .misc-wrapper {
  padding: 10px 0;
  margin-bottom: 0;
}
.divider {
    height: 30px;
    clear: both;
    width: 100%;
}

.text-shadow {
    text-shadow: 1px 1px 1px #000;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
