    <section class="blog-post_filter" xmlns="http://www.w3.org/1999/html">
            <ul class="blog-post_button_filter">
                <li class="blog-post_item">
                    <a class="blog-post_link" href="http://127.0.0.1:8000/">All post</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="http://127.0.0.1:8000/release/">Release</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="http://127.0.0.1:8000/community_radar">Community Radar</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="http://127.0.0.1:8000/devblog/">Devblog</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="http://127.0.0.1:8000/news/">News</a>
                </li>
                <li class="blog-post_item">
                    <div class="dropdown">
                      <button class="btn dropdown-toggle blog-post_link " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        More
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="blog-def blog-more-link" href="http://127.0.0.1:8000/livestream/">LiveStream</a></li>
                        <li><a class="blog-def blog-more-link" href="http://127.0.0.1:8000/reports/">Reports</a></li>
                      </ul>
                    </div>
                </li>
            </ul>
    </section>
