{% extends 'base.html' %}

{% block title %}
Blog | GameProduct
{% endblock %}

{% block content %}
<!-- BlogPost start -->
    <section class="blog-post_filter">
            <ul class="blog-post_button_filter">
                <li class="blog-post_item">
                    <a class="blog-post_link" href="http://127.0.0.1:8000/">All post</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">Release</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">Community Highlights</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">Devblog</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="http://127.0.0.1:8000/news/">News</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">More</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">LiveStream</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">Reports</a>
                </li>
            </ul>
        <div>

            {% for postblog in postblog_list %}
                {% if forloop.first %}

                <h2>{{ postblog.category }}</h2>
                <div >
                    <a href="{{ postblog.get_absolute_url }}">
                    <img src="{{ postblog.image.url }}" height="500" width="500">
                    </a>
                </div>

                <p>{{ postblog.create_at|date:"M d, Y" }}</p>
                <h2><a href="{{ postblog.get_absolute_url }}">{{ postblog.name }}</a></h2>
                <p>{{ postblog.description }}</p>


                {% if postblog.url %}
                <br><a href="{{postblog.url}}">Lick</a>
                {% endif %}
                <br>
                {% endif %}
            {% endfor %}

            {% for postblog in postblog_list %}
                {% if forloop.first <= 5 and forloop.counter > 1 %}

                <h2>{{ postblog.category }}</h2>
                <div >
                    <a href="{{ postblog.get_absolute_url }}">
                    <img src="{{ postblog.image.url }}" height="500" width="500">
                    </a>
                </div>

                <p>{{ postblog.create_at|date:"M d, Y" }}</p>
                <h2><a href="{{ postblog.get_absolute_url }}">{{ postblog.name }}</a></h2>
                <p>{{ postblog.description }}</p>


                {% if postblog.url %}
                <br><a href="{{postblog.url}}">Lick</a>
                {% endif %}
                <br>
                {% endif %}
            {% endfor %}
        </div>
    </section>

{% endblock %}