{% extends 'base.html' %}

{% block title %}
Blog | GameProduct
{% endblock %}

{% block content %}


<!-- blog-post_category.html start -->
    {% include 'Blog/include/blog-post_category.html' %}
<!-- blog-post_category.html end -->

<!-- BlogPost start -->
    <section class="main_blog-post-content">
        {% for postblog in postblog_list %}
            {% if forloop.first %}
                <div class="post-blog_content">
                    <article class="col-xs-12 post-preview">
                        <div class="col-sm-3 post-wrapper">
                            <a href="{{ postblog.get_absolute_url }}">
                                <img class="img-post box-shadow" src="{{ postblog.image.url }}" >
                            </a>
                        </div>
                        <div class="col-sm-9 box-black">
                            <header>
                                <br>
                                <h1 class="text-medium">
                                    <a href="{{ postblog.get_absolute_url }}">
                                        <span class="">{{ postblog.category }}</span>
                                    </a>
                                </h1>
                                <br>
                                <h2 class="text-medium">
                                    <a href="{{ postblog.get_absolute_url }}">
                                        <span>{{ postblog.name }}</span>
                                    </a>
                                </h2>
                            </header>
                            <div class="post-excerpt">
                                <p>
                                    {{ postblog.description }}
                                </p>
                            </div>
                            <footer class="text-muted">
                                <time datetime="">{{ postblog.create_at|date:"M d, Y" }}</time>
                            </footer>
                        </div>
                    </article>
                </div>
            {% endif %}
        {% endfor %}

        {% for postblog in postblog_list %}
            {% if forloop.first <= 5 and forloop.counter > 1 %}
                <div class="post-blog_content">
                    <article class="col-xs-12 post-preview">
                        <div class="col-sm-3 post-wrapper">
                            <a href="{{ postblog.get_absolute_url }}">
                                <img class="img-post box-shadow" src="{{ postblog.image.url }}" >
                            </a>
                        </div>
                        <div class="col-sm-9 box-black">
                            <header>
                                <br>
                                <h1 class="text-medium">
                                    <a href="{{ postblog.get_absolute_url }}">
                                        <span class="">{{ postblog.category }}</span>
                                    </a>
                                </h1>
                                <br>
                                <h2 class="text-medium">
                                    <a href="{{ postblog.get_absolute_url }}">
                                        <span>{{ postblog.name }}</span>
                                    </a>
                                </h2>
                            </header>
                            <div class="post-excerpt">
                                <p>
                                    {{ postblog.description }}
                                </p>
                            </div>
                            <footer class="text-muted">
                                <time datetime="">{{ postblog.create_at|date:"M d, Y" }}</time>
                            </footer>
                        </div>
                    </article>
                </div>
            {% endif %}
        {% endfor %}
    </section>

{% endblock %}