{% extends 'base.html' %}

{% block title %}
Blog | GameProduct
{% endblock %}

{% block content %}
 <section class="blog-post_filter">
            <ul class="blog-post_button_filter">
                <li class="blog-post_item">
                    <a class="blog-post_link" href="">All post</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">Release</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">Community Highlights</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">Devblog</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">News</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">More</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">LiveStream</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">Reports</a>
                </li>
            </ul>
            <!-- BlogPost start -->
            <div class="post-blog_main-single">
        {% for expandpostblog in postblog.get_recipes %}
                <div class="post-blog_single">
                    <div class="date-title-category">
                        <div class="main-postblog_date">
                            <div class="category">{{ expandpostblog.category }}</div>
                        </div>
                        <div class="main-postblog_date">
                            <div class="create-at">{{ expandpostblog.create_at }}</div>
                        </div>
                        <div class="main-postblog_title">
                            <div class="title-postblog">{{ expandpostblog.name }}</div>
                        </div>
                    </div>
                    <div class="main-textblog">
                        <div class="textblog">
                            {{ expandpostblog.textblog }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock %}
