{% extends 'base.html' %}

{% block title %}
Blog | GameProduct
{% endblock %}

{% block content %}


<!-- BlogPost start -->
    <section class="blog-post_filter">
            <ul class="blog-post_button_filter">
                <li class="blog-post_item">
                    <a class="blog-post_link" href="http://127.0.0.1:8000/">All post</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="http://127.0.0.1:8000/release/">Release</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="http://127.0.0.1:8000/community_highlights/">Community Highlights</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="http://127.0.0.1:8000/devblog/">Devblog</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="http://127.0.0.1:8000/news/">News</a>
                </li>

                <li class="blog-post_item">
                    <div class="dropdown">
                      <button class="btn dropdown-toggle blog-post_link " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        More
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="blog-def blog-more-link" href="http://127.0.0.1:8000/livestream/">LiveStream</a></li>
                        <li><a class="blog-def blog-more-link" href="http://127.0.0.1:8000/reports/">Reports</a></li>
                      </ul>
                    </div>
                </li>
            </ul>
    </section>
    <section class="main_blog-post-content">
        {% for postblog in postblog_list %}
            {% if forloop.first %}
                <div class="post-blog_content">
                    <article class="col-xs-12 post-preview">
                        <div class="col-sm-3 post-wrapper">
                            <a href="{{ postblog.get_absolute_url }}">
                                <img class="img-post box-shadow" src="{{ postblog.image.url }}" >
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <header>
                                <h1 class="text-medium">
                                    <a href="{{ postblog.get_absolute_url }}">
                                        <span class="">{{ postblog.category }}</span>
                                    </a>
                                </h1>
                                <h2 class="text-medium">
                                    <a href="{{ postblog.get_absolute_url }}">
                                        <span>{{ postblog.name }}</span>
                                    </a>
                                </h2>
                            </header>
                            <div class="post-excerpt">
                                <p>
                                    {{ postblog.description }}
                                </p>
                            </div>
                            <footer class="text-muted">
                                <time datetime="">{{ postblog.create_at|date:"M d, Y" }}</time>
                            </footer>
                        </div>
                    </article>
                </div>
            {% endif %}
        {% endfor %}

        {% for postblog in postblog_list %}
            {% if forloop.first <= 5 and forloop.counter > 1 %}
                <div class="post-blog_content">
                    <article class="col-xs-12 post-preview">
                        <div class="col-sm-3 post-wrapper">
                            <a href="{{ postblog.get_absolute_url }}">
                                <img class="img-post box-shadow" src="{{ postblog.image.url }}" >
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <header>
                                <h1 class="text-medium">
                                    <a href="{{ postblog.get_absolute_url }}">
                                        <span class="">{{ postblog.category }}</span>
                                    </a>
                                </h1>
                                <h2 class="text-medium">
                                    <a href="{{ postblog.get_absolute_url }}">
                                        <span>{{ postblog.name }}</span>
                                    </a>
                                </h2>
                            </header>
                            <div class="post-excerpt">
                                <p>
                                    {{ postblog.description }}
                                </p>
                            </div>
                            <footer class="text-muted">
                                <time datetime="">{{ postblog.create_at|date:"M d, Y" }}</time>
                            </footer>
                        </div>
                    </article>
                </div>
            {% endif %}
        {% endfor %}
    </section>

{% endblock %}