{% extends 'base.html' %}

{% block title %}
Blog | GameProduct
{% endblock %}

{% block content %}

<!-- blog-post_filter.html start -->
    {% include 'Blog/include/blog-post_filter.html' %}
<!-- blog-post_filter.html end -->

    <!-- BlogPost start -->
    <section class="post-blog-list-main">
        {% for expandpostblog in postblog.get_recipes %}
        <div class="post-blog_single">
                <div class="date-title-category">
                        <div class="main-postblog_date">
                            <div class="user">{{ postblog.user }}</div>
                        </div>
                        <div class="main-postblog_date">
                            <div class="category">{{ postblog.category }}</div>
                        </div>
                        <br>
                        <div class="main-postblog_date">
                            <div class="create-at">{{ expandpostblog.create_at }}</div>
                        </div>
                        <div class="main-postblog_title">
                            <div class="title-postblog">{{ expandpostblog.name }}</div>
                        </div>
                        <div class="main-textblog">
                            <div class="textblog">
                                {{ expandpostblog.textblog|safe }}
                            </div>
                        </div>
                </div>
        </div>
            {% endfor %}
        </section>s

{% endblock %}
