{% extends 'base.html' %}

{% block title %}
Blog | GameProduct
{% endblock %}

{% block content %}
<!-- BlogPost start -->
    <section class="blog-post">
            <ul class="blog-post_button_filter">
                <li class="blog-post_item">
                    <a class="blog-post_link" href="">All post</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">Release</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">Community Highlights</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">Devblog</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">News</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">More</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">LiveStream</a>
                </li>

                <li class="blog-post_item">
                    <a class="blog-post_link" href="">Reports</a>
                </li>
            </ul>
        <div>
        {% for postblog in postblog_list %}
        <h2>{{ postblog.category }}</h2>
        <img src="{{ postblog.image.url }}" height="500" width="500">
        <p>{{ postblog.create_at }}</p>
        <h2>{{ postblog.name }}</h2>
        <p>{{ postblog.description }}</p>


        {% if postblog.url %}
        <br><a href="{{postblog.url}}">Lick</a>
        {% endif %}
        <br>
        {% endfor %}
        </div>
    </section>

{% endblock %}