.ep-main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}
.ep-tsp{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
}

/* back-bt*/
.ep-bk-bt{
    position: fixed;
    top: 0;
    z-index: 4001;
}
.ep-bk-img{
    height: 46px;
    width: 46px;
}
.ep-bk-img:hover {
    color: #f4f4f4;
}
/* close back-bt */

.ep-edtorjs-form{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 0 36px;
}
.ep-title-form input{
    width: 600px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #FF7600;
}
.ep-postblog-form select{
    height: 28px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #FF7600;
}
.ep-title-text{
    position: absolute;
    top: 104px;
    padding-left: 10px;
    letter-spacing: 3px;
}
/* publish-bt*/
.ep-post-bt{
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #FF7600;
}
.ep-post-bt button{
    background-color: rgba(0, 0, 0, 0.8);
    color: #FF7600;
    border-bottom-width: 0px;
    border-top-width: 0px;
}