.header-gp-fixed{
    position: fixed;
    top: 0;
}
/* search */
.main_blog_menu{
    bottom: auto;
    right: auto;
    width: 1872px;
    height: 411px;
}
.blog_menu{
    flex-shrink: 0;
    box-flex: 0;
    flex-grow: 0;
}
.header_blog_menu{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(236, 239, 241);
}
.bp-menu-search input {
  width: 600px;
  height: 42px;
  padding-left: 10px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  outline: none;
  background-color: rgba(255, 255, 255);
  color: rgba(0, 0, 0);
}
.bp-menu-search button {
  position: absolute;
  width: 42px;
  height: 42px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.bp-menu-search button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

.main_crt_bt_menu{
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: left;
    margin-bottom: 24px;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 12px;
    min-width: 98px;
    padding: 0 16px;
}
.crt-dt-menu{
    border: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.crt_bt_cl{
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #FF7600;
    color: #FF7600;
}
.crt_bt_cl:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.ps-bt-menu{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.crt-span-bt{
     position: relative;
}
.crt-item-bt{
    align-items: center;
    display: flex;
    margin: 0;
    line-height: 20px;
}
.crt-bt-icon{
    color: #FF7600;
}
.crt-bt-icon:hover{
    color: #FF7600;
}
.crt-bt-text{
    padding-left: 10px;
    color: #FF7600;
}
.crt-bt-text:hover{
    color: #FF7600;
}

/* crt-forms */
.bp-inp-form{
    min-height: 200px;
}
.bp-inp-form-5{
    min-height: 191px;
}
.bp-inp{
    padding-top: 24px;
}
.bp-inp input{
    width: 380px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #FF7600;
}
.bp-inp select{
    width: 380px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #FF7600;
}
.bp-bt-rh{
    display: flex;
    justify-content: flex-end;
}
.bp-bt-next{
    line-height: 20px;
}
.bp-bt-item{
    line-height: 20px;
    min-width: 88px;
}
.bp-bt-item-5{
    min-width: 88px;
    margin-top: 5px;
}
.bp-bt-back{
    line-height: 20px;
    min-width: 258px;
}
.bp-bt-back-5{
    margin-top: 5px;
    min-width: 238px;
}
.bp-bt-post {
    border: 1px solid #FF7600;
}
.bp-bt-post button{
    background-color: rgba(0, 0, 0, 0.8);
    color: #FF7600;
    padding-top: 1px !important;
    border-bottom-width: 0px;
    border-right-width: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-top-width: 0px;
}
.crt-forms-title{
    padding: 16px 16px 0;
}