.ep-main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}
.ep-tsp{
    display: flex;
    flex-direction: row;
}

/* back-bt*/
.ep-bk-bt{
    position: fixed;
    top: 0;
    z-index: 4001;
}
.ep-bk-img{
    height: 46px;
    width: 46px;
}
.ep-bk-img:hover {
    color: #f4f4f4;
}
/* close back-bt */
.ep-edtorjs-form{
  display: flex;
  align-items: center;
  justify-content: center;
}
