
/**
 * Переключаемая боковая панель навигации
 * выдвигающаяся по клику слева
 */

.side_menu {
    display: table;
    /*  ширна */
    width: 320px;
    min-width: 320px;
    /* фиксируем и выставляем высоту панели на максимум */
    height: 100%;
    position: fixed;
    top: 45px;
    bottom: 0;
    margin: 0;
    /* сдвигаем (прячем) панель относительно левого края страницы */
    left: -320px;
    /* внутренние отступы */
    padding: 15px 20px;
    /* плавный переход смещения панели */
    transition: left 0.3s;
    /* определяем цвет фона панели */
    background-color: rgba(0,0,0,.9);
    /* поверх других элементов */
    z-index: 4000;
}


/**
 * Кнопка переключения панели
 * тег <label>
 */

.side_menu-toggle {
    /* абсолютно позиционируем */
    position: absolute;
    /* относительно левого края панели */
    left: 320px;
    /* отступ от верхнего края панели */
    top: -2em;
    /* внутренние отступы */
    padding: 0.5em;
    /* цвет текста */
    color: #dadada;
    /* вид курсора */
    cursor: pointer;
    /* размер шрифта */
    font-size: 1.4em;
    line-height: 1;
    /* всегда поверх других элементов страницы */
    z-index: 4001;
    /* анимируем цвет текста при наведении */
    transition: color .25s ease-in-out;
}


/* определяем текст кнопки 
 * символ Unicode (TRIGRAM FOR HEAVEN)
*/

.side_menu-toggle:after {
    content: '\2630';
    text-decoration: none;
}


/* цвет текста при наведении */

.side_menu-toggle:hover {
    color: #f4f4f4;
}


/**
 * Скрытый чекбокс (флажок)
 * невидим и недоступен
 * имя селектора атрибут флажка
 */

[id='side_menu-toggle'] {
    position: absolute;
    display: none;
}


/**
 * изменение положения переключателя 
 * при просмотре на мобильных устройствах
 * когда навигация раскрыта, распологаем внутри панели
*/

[id='side_menu-toggle']:checked ~ .side_menu > .side_menu-toggle {
    left: auto;
    right: 2px;
    top: 1em;
}


/**
 * Когда флажок установлен, открывается панель
 * используем псевдокласс:checked
 */

[id='side_menu-toggle']:checked ~ .side_menu {
    left: 0;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}


/* 
 * смещение контента страницы
 * на размер ширины панели,
 * фишка необязательная, на любителя
*/

[id='side_menu-toggle']:checked ~ main > article {
    transform: translateX(320px);
}


/*
 * изменение символа переключателя,
 * привычный крестик (MULTIPLICATION X), 
 * вы можете испльзовать любой другой значок
*/

[id='side_menu-toggle']:checked ~ .side_menu > .side_menu-toggle:after {
    content: '\2715';
}

/**
 * Формируем стиль заголовка (логотип) панели 
*/

.side_menu h2 {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
    font-size: 1.3em;
    line-height: 1.3em;
    opacity: 0;
    transform: scale(0.1, 0.1);
    transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;

}

.side_menu h2 a {
    color: #dadada;
    text-decoration: none;
    text-transform: uppercase;
}


/*плавное появление заголовка (логотипа) при раскрытии панели */

[id='side_menu-toggle']:checked ~ .side_menu h2 {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}


/**
 * формируем непосредственно само меню
 * используем неупорядоченный список для пунктов меню
 * прикрутим трансфомации и плавные переходы
 */

.side_menu > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.side_menu > ul > li {
    line-height: 2.5;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='side_menu-toggle']:checked ~ .side_menu > ul > li {
    opacity: 1;
    transform: translateX(0);
}


/* определяем интервалы появления пунктов меню */

.side_menu > ul > li:nth-child(2) {
    transition: opacity .5s .2s, transform .5s .2s;
}

.side_menu > ul > li:nth-child(3) {
    transition: opacity .5s .3s, transform .5s .3s;
}

.side_menu > ul > li:nth-child(4) {
    transition: opacity .5s .4s, transform .5s .4s;
}

.side_menu > ul > li:nth-child(5) {
    transition: opacity .5s .5s, transform .5s .5s;
}

.side_menu > ul > li:nth-child(6) {
    transition: opacity .5s .6s, transform .5s .6s;
}

.side_menu > ul > li:nth-child(7) {
    transition: opacity .5s .7s, transform .5s .7s;
}


/**
 * оформление ссылок пунктов меню
 */

.side_menu > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #dadada;
    width: 100%;
    text-decoration: none;
    /* плавный переход */
    transition: color .5s ease, padding .5s ease;
}


/**
 * состояние ссылок меню при наведении
 */

.side_menu > ul > li > a:hover,
.side_menu > ul > li > a:focus {
    color: white;
    padding-left: 15px;
}


/**
 * линия подчеркивания ссылок меню
 */

.side_menu > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    transition: width 0s ease;
}

.side_menu > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #00F4FF;
    transition: width .5s ease;
}

/**
 * анимируем линию подчеркивания 
 * ссылок при наведении
 */

.side_menu > ul > li > a:hover:before {
    width: 0%;
    background: #3bc1a0;
    transition: width .5s ease;
}

.side_menu > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}
